<div class="container "> 
    <div class="row download">
        <div class="col-md-8 ">
            <div class="para">
                <h1>
                    WE ARE <strong class="create">CREATIVE</strong>
                </h1>
                <h5>
                 <p class="para">   There are many variations of passages of Lorem Ipsum available, but the majority have suffered bral in some form, <br> injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text  of Lorem Ipsum available, but the majority have suffered bral<br> in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
                  

                    </p>
                </h5>
            </div>
        </div>
        <div class="col-md-4">
             <img src="../../assets/photographer.jpg" class="pic" height="250px" width="400px" alt="tree">
        </div> 
        
    </div>
</div> 