
<div class="container">
    <div class="row download ">
       <div class="col-md-4 " > <img src="../../assets/parma.jfif" height="500px" class="pic" alt="" >
     </div>
       <div class="col-md-8 data ">
           <ul class="list">
              <li class="list item">Name        :  Parmanand Prasad Das</li>
              <li class="list item">Adress      :  Birgunj</li>
              <li class="list item">Contact no. :  9811289501  </li>
              <li class="list item">Email       :  parmananddas488@gmail.com </li>
              <li class="list item">FB          : www.facebook.com/parmananddas488  </li>
              <li class="list item">Bsc. CSIT   : II/I  </li>
           </ul>
       </div>
   </div>
</div>

<div class="container "> 
  <div class="row download">
      <div class="col-md-8" class="data">
        <ul class="list">
          <li class="list item">Name        :  Rambabu Mahato</li>
          <li class="list item">Adress      :  Birgunj</li>
          <li class="list item">Contact no. :  9815225606  </li>
          <li class="list item">Email       :  rambabumahato@gmail.com </li>
          <li class="list item">FB          :www.facebook.com/ram.honeyboy  </li>
          <li class="list item">Bsc. CSIT   : II/I  </li>
          <li class="list item">Twitter     : twitter.com/honey-boy008  </li>
       </ul>
      </div>
      <div class="col-md-4"> <img src="../../assets/ramdai.jfif" class="pic" height="500px"  alt=""></div> 
      
  </div>
</div> 
<br>
