
    

<br>
<div class="container">
     <div class="row download ">
        <div class="col-md-4 " > <img src="../../assets/tree.jpg" class="pic1" alt="tree" ></div>
        <div class="col-md-8 "><div class="para" ><h5><p >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p></h5></div></div>
    </div>
 </div>
<div class="container "> 
    <div class="row download">
        <div class="col-md-8 "><div class="para"><h5><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p></h5></div></div>
        <div class="col-md-4"> <img src="../../assets/download.jpg" class="pic" height="200px" width="400px" alt="tree"></div> -->
        
    </div>
</div> 
<div class="container">
    <div class="row py 5">
         <div class="col-md-4">
             <div class="card  bot" >
                     <img src="../../assets/nature.jpg" height="350px" class="card-img-top size " alt="nature">
          
                     <button type="button" class="btn btn-default btn-secondary"
                     popover="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised"
                   
                     placement="top">
                         Read more
                    </button>
             
             </div>
         </div>
        
   

        <div class="col-md-4">
            <div class="card text-white" >
                    <img src="../../assets/sun.jpg" height="400px" class="card-img-top" alt="nature">
                 <div class="card-img-overlay">
                         <h5 class="card-title">sunset</h5>
                        <p class="card-text "> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrni</p>
            
                     <details class="sec" >
                             <summary>Read more</summary>
                             <div class="detail content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellat deleniti assumenda autem ea placeat provident qui molestiae! Provident animi impedit dolore ipsum quidem eveniet ea id asperiores hic aperiam.</p>
                             </div>
                    </details>

                 </div>
            </div>
        </div>

      
        <div class="col-md-4">
            <div class="card bot " >
                <div class="card-body">
                    <h5 class="card-title">sunset</h5>
                     <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. i</p>
           
                    <details >
                            <summary>read more</summary>
                        <div class="detail content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellat deleniti assumenda autem ea placeat provident qui molestiae! Provident animi impedit dolore ipsum quidem eveniet ea id asperiores hic aperiam.</p>
                         </div>
                    </details>

                    
                </div>
                <img src="../../assets/wallpaper.jpg" class="card-img-bottom " height="120px" alt="nature">
            </div>
        </div>
    </div>
</div>

      
   
   <br> 
