
.img{
    border-radius: 50%;
}
.cardbody{
    max-width: 0 auto;
   
}
.download{
    padding-bottom: 50px;

}
.para{
    text-align: bottom;
    color: azure;
}
.bot{
    background-color: darkgray;
    
}

.foot{
    margin-top: 100px;
}
.size
{
    border-radius: 40%;
}
.pic{
    border-radius: 10%;
}
.pic1{
    border-radius: 10%;
    width: auto;
}
