





<h1 class="topic">
  <pre class="dat">
  Making <span class="some">Something Special</span>
   To
    Save <span class="some">Our Memories</span>
  </pre>
</h1>
<button type="button" class="btn btn-primary"
        tooltip="Welcome!!!! to our site">
  Explore
</button>
 

<carousel>
  <slide  class="pic">
    <img src="../../assets/cop.1.jpg"  height="350px"  alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide class="pic">
    <img src="../../assets/cop.2.jpg" height="350px"  alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide class="pic">
    <img src="../../assets/wlapper1.jpg"  height="350px" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
<br>